a {
  color: black;
  text-decoration: none;
  font-family: fantasy;
}

body {
  margin: 0px;
  background-color: #FAD1D6 ;
}

h1 {
  color: white;
  font-family: fantasy;
  font-size: 50px;
  border-bottom: 2px white solid;
  text-align: center;
  padding: 50px;
  margin: 0;
  }

h2 {
  font-family: fantasy;
}
  img {
    width: 300px;
  }

  table {
    width: 600px;
    height: 150px;
    border: 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
  }

  ol {
    font-family: fantasy;
    border-right: 2px solid white;
    width: 110px;
    margin: 0;
    padding-top: 15px;
  }

  ul {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

#daumRoughmapContainer1575136499064 {
  margin-left: auto;
  margin-right: auto;
}

#daumRoughmapContainer1575133772139 {
  margin-left: auto;
  margin-right: auto;
}

#gird {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

#article{
    padding-left:30px;
    text-align: center;
  }

@media(max-width:768px)
{
    #grid {
    display: block;
    }
    ol{
      border-right:none;
    }
    h1 {
      border-bottom:none;
    }
  }
